{% extends 'base-back.html.twig' %}

{% block title %}Gestion des commandes{% endblock %}

{% block body %}
    <h1>Gestion des commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Num Commande</th>
                <th>Date commande</th>
                <th>id Client </th>
                <th>Total</th>
                <th>Etat</th>
                <th>Avis client</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.datecommande ? commande.datecommande|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.idClient.iduser }}</td>
                <td>{{ commande.total }}</td>
                {%  if commande.etat==1 %}
                    <td>confirmée</td>
                {% endif %}
                {%  if commande.etat==2 %}
                    <td>envoyée</td>
                {% endif %}
                {%  if commande.etat==3 %}
                    <td>livrée</td>
                {% endif %}
                {%  if commande.etat==4 %}
                    <td>finalisée</td>
                {% endif %}
                {%  if commande.etat==5 %}
                    <td>annulée</td>
                {% endif %}
                <td>{{ commande.avisclient }}</td>
                <td>
                    <a href="{{ path('app_commande_editEtat', {'idC': commande.id}) }}" class="btn btn-success">avancer l'etat de la commande</a>
                    <a href="{{ path('app_commande_annulerCommande', {'idC':commande.id}) }}" class="btn btn-danger">annuler la commande</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
